<a href="https://colab.research.google.com/github/hani-haddad/testpy/blob/master/imdb_top_250_movies__Scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [2]:
Url='https://www.imdb.com/chart/top/'

In [8]:
def getData (url):
  page=requests.get(Url)
  soup = BeautifulSoup(page.content,'html.parser')
  return soup

soup=getData(Url)

In [15]:
page=requests.get(Url)
page

In [12]:
import re

In [30]:
scraped_movies=soup.find('div',class_="byline").text
scraped_movies

re.findall(r'<div class="byline">(.*?)</div>', page.text)[0]

'IMDb Top 250 as rated by regular IMDb voters.'

In [ ]:
e=scraped_movies[1].get_text().replace("\n","").split(".")[1]
e.strip(" ")

'The Godfather(1972)'

In [ ]:
import re
t="2.    dr. hjdkdk"
t=t.replace(".","%",1)
t

'2%    dr. hjdkdk'

In [ ]:
movies_names=[]
for movie in scraped_movies:
  movie=movie.get_text().replace("\n","").replace(".","%",1).split("%")[1].strip(" ")
  movies_names.append(movie)
movies_names

In [ ]:
scraped_ratings=soup.find_all('td',class_="ratingColumn imdbRating")
scraped_ratings

In [ ]:
y=scraped_ratings[1].get_text().replace("\n","")
y

'9.2'

In [ ]:
ratings=[]
for rate in scraped_ratings :
  rate=rate.get_text().replace("\n","")
  ratings.append(rate)
ratings

In [ ]:
data = pd.DataFrame()
data["movie"]= movies_names
data["rating"]=ratings
data.head(10)

                                               movie rating
0                     The Shawshank Redemption(1994)    9.2
1                                The Godfather(1972)    9.2
2                              The Dark Knight(2008)    9.0
3                        The Godfather Part II(1974)    9.0
4                                 12 Angry Men(1957)    9.0
5                             Schindler's List(1993)    8.9
6  The Lord of the Rings: The Return of the King(...    8.9
7                                 Pulp Fiction(1994)    8.8
8  The Lord of the Rings: The Fellowship of the R...    8.8
9               The Good, the Bad and the Ugly(1966)    8.8

In [ ]:
data.to_json('movies.json', orient='records', lines=True)